<div class="container" style="text-align: center;">
  <h1>{{title}}</h1>
  <div class="row" *ngIf="hero$ | async; else loader">
    <div class="col" *ngFor="let heroes of hero$ | async">
      <br>
      <div class="col">
        <b>Name:</b> {{heroes.name}}
      </div>
      <div class="col">
        <b>RealName:</b> {{heroes.biography.fullName}}
      </div>
      <br>
      <div class="col">
        <img src="{{heroes.images.md}}">
      </div>
    </div>
  </div>
  <ng-template #loader>Cargando...</ng-template>
</div>